@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "tillana";
        src: url(../../public/assets/fonts/Tillana/Tillana-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: "raleway";
        src: url(../../public/assets/fonts/raleway/static/Raleway-Regular.ttf) format('truetype');
    }
}

h1, h2, h3, a, p {
    color: 000A0C;
}