@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "tillana";
        src: url(../../public/assets/fonts/Tillana/Tillana-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: "raleway";
        src: url(../../public/assets/fonts/raleway/static/Raleway-Regular.ttf) format('truetype');
    }
}

h1, h2, h3, a, p {
    color: 000A0C;
}

h1, h2, h3 {
    font-family: 'tillana';
    font-weight: 700;
}

h2 {
    font-size: 1.1rem;
}

* {
    font-family: 'raleway';
}

input {
    background-color: rgb(251, 253, 255);
}

/* .button {
    background-color: rgb(255, 253, 253);
    color: rgb(1, 40, 154);
    box-shadow: 0px 2px 5px 0px slategrey;
    padding: 4px 12px;
    font-weight: bold;
} */